@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>
        Украина<br />
        г. Николаев<br />
    </p>
    <p>
        <strong>Admin:</strong>   <a href="mailto:yuriy.lazar1986@gmail.com">yuriy.lazar1986@gmail.com</a><br />
    </p>
</address>